
{% extends 'index.html' %}
{% block body %}


<body>
<div class="container">
    <!------welcome banner-->
    <div  class="jumbotron jumbotron_box">
        <h1>Welcome to Gator Trader</h1>
        <p>
            A platform for SF State students to buy and sell items
        </p>
        <br /><br />
        <p>
            SFSU Software Engineering Project CSC 648-848 Team 02, Fall 2019. For
            Demonstration Only
        </p>
    </div>

    <!---------- display categories-->
    <div class="categories">
        <div class="row">
            <div class="col-sm-3 col-xs-6">
                <div class="row no-gutters auto">

                    <!------ Applicance ---->
                    <div class="col-md-6 box">
                        <img class="img-responsive" style="height:22%;" src="../resources/images/appliances.png"/>
                        <h5><kbd id="Appliances" class="bg-secondary pointer-hand"></kbd></h5>
                    </div>

                    <!------ Art ---->
                    <div class="col-md-6 box art">
                        <img class="img-responsive" style="height:22%;" src="../resources/images/design.png"/>
                        <h5 style="margin-left:38px; margin-top:2px;"><kbd id="Art" class="bg-secondary pointer-hand"></kbd></h5>
                    </div>
                </div>
            </div>

            <!------ Auto ---->
            <div class="col-sm-3 col-xs-6">
                <div class="row no-gutters auto">
                    <div class="col-md-6 box">
                        <img class="img-responsive"style="height:22%;"src="../resources/images/clock.png"/>
                        <h5 style="margin-left:25px; margin-top:2px;"><kbd id="Auto" class="bg-secondary pointer-hand"></kbd></h5>
                    </div>

                    <!------ Books ---->
                    <div class="col-md-6 box books">
                        <img class="img-responsive"style="height:22%;"src="../resources/images/books.png"/>
                        <h5 style="margin-left:30px;"><kbd id="Books" class="bg-secondary pointer-hand"></kbd></h5>
                    </div>
                </div>
            </div>
            <!------ Household ---->
            <div class="col-sm-3 col-xs-6">
                <div class="row household no-gutters auto">
                    <div class="col-md-6 box household">
                        <img class="img-responsive" style="height:22%;" src="../resources/images/stock.png"/>
                        <h5 style="margin-top:2px;"><kbd id="Household" class="bg-secondary pointer-hand"></kbd></h5>
                    </div>

                    <!------ Tool ---->
                    <div class="col-md-6 box">
                        <img class="img-responsive"style="height:22%;" src="../resources/images/locked.png"/>
                        <h5 style="margin-top:2px; margin-left:30px;"><kbd id="Tools" class="bg-secondary pointer-hand"></kbd></h5>
                    </div>
                </div>
            </div>

            <!------ Vehicles ---->
            <div class="col-sm-3 col-xs-6">
                <div class="row vehicles no-gutters auto">
                    <div class="col-md-6 box">
                        <img class="img-responsive"style="height:22%;"src="../resources/images/car.png"/>
                        <h5 style="margin-left:10px;"><kbd id="Vehicles" class="bg-secondary pointer-hand"></kbd></h5>
                    </div>

                    <!------ Electronics ---->
                    <div class="col-md-6 box">
                        <img class="img-responsive"style="height:22%;" src="../resources/images/headphones.png"/>
                        <h5 style="margin-top:2px;"><kbd id="Electronics" class="bg-secondary pointer-hand"></kbd></h5>
                    </div>
                </div>
            </div>
            <!---- recommendation -->
            <div class="recommendation" id="recommendedSection" style="display: none">
                <h2 class="d-inline-block" style="color:"><strong>Featured Recommendations</strong></p></h2>
                <h3 class="btn btn-outline-warning" type="button" id="recommendedBtn" onclick="redirectToRecommended();">See More</h3>
            </div>
        </div>
    </div>
</div>



<script src="../../scripts/domCreation.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="../../scripts/indexSearch.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="../../scripts/search.js" type="text/javascript" charset="utf-8" async defer></script>

</body>

{% endblock %}