.approveButton {
    background-color:  #00e600;
    /*background-color: green;*/
    color:  white;
    border: none;
    border-radius: 5px;
    width:auto;
  }
  
  .denyButton {
    background-color: #ff4d4d;
    /*background-color: red;*/
    color: white;
    border: none;
    border-radius: 5px;
    width:auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

 table th {
    text-align: center; 
 }

 table tbody {
  text-align: center; 
}

.admindashboard-items {
    margin-left: -45px;
    overflow-x: scroll;
}

@media screen and (max-width: 576px)
.admindashboard-items {
    margin-left:-45px;
    overflow-x: scroll;
}