
.login-form  {
    width: 340px;
    margin:150px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-width: 576px){
  .pull-right {
    float: right;
    padding-right: 20px;
}
}