{% extends 'index.html' %} {% block body %}
<link href="../../resources/css/detail.css" />
<br><br>
<div id="detail-row" class="container">
	<div class="row">
		<!-- left side -->
		<div class="col-sm-5">
			<div class="card bg-light mb-3">
				<div class="card-header">Image:</div>
				<div class="card-body" id="img-div">
					<img id="listingImage" class="img-fluid mx-auto d-block" alt="Responsive image">
				</div>
			</div>
		</div>
		<!-- right side -->
		<div class="col-sm-7">
			<b>
				<h1 style="overflow-wrap: break-word;" id="titleTag"></h1>
			</b>
			<div class="container row mb-3">
				<div class="border bg-light rounded-left py-2 px-3 w-25">Category: </div>
				<div class="border bg-light rounded-right py-2 px-3">
					<span style="overflow-wrap: break-word;" id="category"></span>
				</div>
			</div>

			<div class="container row mb-3">
				<div class="border bg-light rounded-left py-2 px-3 w-25">Price:</div>
				<div class="border bg-light rounded-right py-2 px-3">
					<span style="overflow-wrap: break-word;" id="priceTag"></span>
				</div>
			</div>
			<div class="container row mb-3">
				<div class="border bg-light rounded-left py-2 px-1">Description: </div>
                <div class="col border bg-light rounded-right py-2 px-3">
					<span style="overflow-wrap: break-word;" id="description"></span>
				</div>
			</div>
			<br />
			<div class="card bg-light mb-3">
				<div class="card-header"><label for="message_body">Contact Seller: </label></div>
				<div class="card-body">
					<textarea id="message_body" name="message" type="text" placeholder="Leave a message"
						style="height:200px; width: 100%"></textarea>
					<button id="submitButton" onclick="sendMessages();" type="submit" class="btn btn-primary"
						style="background:#ECC129; color:black;">Send</button>
				</div>
			</div>
			<br><br>
		</div>
	</div>
</div>

<script src="../../scripts/domCreation.js"></script>
<script src="../../scripts/detail.js"></script>
<script src="../../scripts/message.js"></script>
<script>
	checkIfRedirected();
</script>
{% endblock %}